<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <h1 class="titulo mx-2">Tareas</h1>
      <button class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#taskModal">
        <i class="fas fa-file-circle-plus"></i>
      </button>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle filtro" type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-filter"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" *ngFor="let label of uniqueLabels" (click)="filterByLabel(label)">{{label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h1 class="text-center mb-4">Crear nueva tarea</h1>
          <form [formGroup]="myForm">
            <div class="mb-3">
              <span class="label-input100">Etiqueta</span>
              <input type="text" class="form-control w-100 mb-4" placeholder="Etiqueta" formControlName="label">

              <span class="label-input100">Nombre</span>
              <span *ngIf="isValidField('name')" class="form-text text-danger">
                Este campo es obligatorio
              </span>
              <input type="text" class="form-control w-100 mb-4" placeholder="Nombre" formControlName="name">

              <span class="label-input100">Descripción</span>
              <input type="text" class="form-control w-100 mb-4" placeholder="Descripción"
                formControlName="description">

              <span class="label-input100">Hora comienzo</span>
              <input type="time" class="form-control w-100 mb-4" formControlName="time_start">

              <span class="label-input100">Hora fin</span>
              <input type="time" class="form-control w-100 mb-4" formControlName="time_end">

              <span class="label-input100">Fecha</span>
              <input type="date" class="form-control w-100 mb-4" formControlName="date">

              <span class="label-input100">Color</span>
              <input type="color" class="form-control color mb-5 mb-4" list="color-datalist" formControlName="color">
            </div>
            <div class="buttons d-flex justify-content-between">
              <button type="submit" class="btn btn-primary" (click)="newTask()"
                [disabled]="myForm.invalid">Crear</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Task Container -->
  <div class="tareasContainer m-4">
    <div *ngFor="let date of listDate">

      <div *ngIf="groupedTasks && groupedTasks.get(date)!= undefined">
        <div *ngIf="groupedTasks.get(date)?.length != undefined && groupedTasks.get(date)!.length > 0">
          <h6 class="mt-3">{{ date | date:'dd/MM/yyyy' }}</h6>
          <hr>
          @for (task of groupedTasks.get(date); track $index) {
          <div class="card mt-3 mx-lg-4 mx-xl-4">

            <div class="card-body d-flex flex-wrap justify-content-between">
              <div>
                <span class="label-input100">Etiqueta</span>
                <input type="text" class="form-control label" placeholder="Etiqueta" [value]="task.label"
                  [(ngModel)]="task.label" (change)="modifyTask(task)">
              </div>
              <div>
                <span class="label-input100">Nombre</span>
                <input type="text" class="form-control form" placeholder="Nombre" [value]="task.name"
                  [(ngModel)]="task.name" (change)="modifyTask(task)">
              </div>
              <div>
                <span class="label-input100">Descripción</span>
                <input type="text" class="form-control description" placeholder="Descripción" [value]="task.description"
                  [(ngModel)]="task.description" (change)="modifyTask(task)">
              </div>
              <div>
                <span class="label-input100">Hora comienzo</span>
                <input type="time" class="form-control time" [value]="task.time_start" [(ngModel)]="task.time_start"
                  (change)="modifyTask(task)">
              </div>
              <div>
                <span class="label-input100">Hora fin</span>
                <input type="time" class="form-control time" [value]="task.time_end" [(ngModel)]="task.time_end"
                  (change)="modifyTask(task)">
              </div>
              <div>
                <span class="label-input100">Fecha</span>
                <input type="date" class="form-control form date" [value]="task.date" [(ngModel)]="task.date"
                  (change)="modifyTask(task)">
              </div>
              <div>
                <span class="label-input100">Color</span>
                <input type="color" class="form-control form color" list="color-datalist" [value]="task.color"
                  [(ngModel)]="task.color" (change)="modifyTask(task)">
                <datalist id="color-datalist">
                  <option *ngFor="let color of uniqueColors" [value]="color"></option>
                </datalist>
              </div>
              <div class="button-group d-flex align-items-end mt-2 mb-2">
                <button [ngClass]="{'btn-success': task.status, 'btn-warning': !task.status}"
                  class="btn text-white  mx-3" (click)="task.status = !task.status; modifyTask(task)">
                  <i *ngIf="!task.status" class="fa-solid fa-clock mx-1"></i>
                  <i *ngIf="task.status" class="fa-solid fa-check mx-1"></i>
                </button>
                <button class="btn btn-danger mx-3" (click)="deleteTask(task.taskId)">
                  <i class="fas fa-trash mx-1"></i>
                </button>
              </div>
            </div>

          </div>
          }
        </div>



      </div>

    </div>
  </div>
  <!-- <shared-alert *ngIf="groupedTasks!.keys.length<=0"></shared-alert> -->
</div>
