<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <h1 class="titulo mx-2">Tareas</h1>
      <button class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#taskModal">
        <i class="fas fa-file-circle-plus"></i>
      </button>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle filtro" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-filter"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Etiqueta 1</a></li>
          <li><a class="dropdown-item" href="#">Etiqueta 2</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form [formGroup]="myForm">
            <div class="mb-3">
              <input type="text" class="form-control w-100 mt-2" placeholder="Etiqueta" formControlName="label">
              <input type="text" class="form-control w-100 mt-2" placeholder="Nombre" formControlName="name">
              <span *ngIf="isValidField('name')" class="form-text text-danger">
                Este campo es obligatorio
              </span>
              <input type="text" class="form-control w-100 mt-2" placeholder="Descripción" formControlName="description">
              <input type="time" class="form-control w-100 mt-2" formControlName="time_start">
              <input type="time" class="form-control w-100 mt-2" formControlName="time_end">
              <input type="date" class="form-control w-100 mt-2" formControlName="date">
              <input type="color" class="form-control form color" list="color-datalist" formControlName="color">
            </div>
            <div class="buttons d-flex justify-content-between">
              <button type="submit" class="btn btn-primary" (click)="newTask()" [disabled]="myForm.invalid">Crear</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Task Container -->
  <div class="tareasContainer m-4">
    <div class="card mt-3" *ngFor="let task of tasksList">
      <div class="card-body d-flex flex-wrap">
        <input type="text" class="form-control form" placeholder="Etiqueta" [value]="task.label">
        <input type="text" class="form-control form" placeholder="Nombre" [value]="task.name">
        <input type="text" class="form-control form" placeholder="Descripción" [value]="task.description">
        <input type="time" class="form-control time" [value]="task.time_start">
        <input type="time" class="form-control time" [value]="task.time_end">
        <input type="date" class="form-control form" [value]="task.date">
        <input type="color" class="form-control form color" list="color-datalist" [value]="task.color">
        <button class="btn btn-primary mx-1"><i class="fas fa-palette mx-1"></i></button>
        <button class="btn btn-warning text-white mx-1"><i class="fas fa-clock mx-1"></i></button>
        <button class="btn btn-danger mx-1" (click)="deleteTask(task.taskId)"><i class="fas fa-trash mx-1"></i></button>
      </div>
    </div>
  </div>
</div>
