<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <h1 class="titulo mx-2">Tareas pendientes</h1>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle filtro" type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-filter"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Etiqueta 1</a></li>
          <li><a class="dropdown-item" href="#">Etiqueta 2</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Task Container -->
  <div class="tareasContainer m-4">
    <div class="card mt-3 mx-lg-4 mx-xl-4" *ngFor="let task of pendingTasks">

        <div class="card-body d-flex flex-wrap" >
          <div>
            <span class="label-input100">Etiqueta</span>
            <input type="text" class="form-control label" placeholder="Etiqueta" [value]="task.label" [(ngModel)]="task.label" (change)="modifyTask(task)">
          </div>
          <div>
            <span class="label-input100">Nombre</span>
            <input type="text" class="form-control form" placeholder="Nombre" [value]="task.name" [(ngModel)]="task.name" (change)="modifyTask(task)">
          </div>
          <div>
            <span class="label-input100">Descripción</span>
            <input type="text" class="form-control description" placeholder="Descripción" [value]="task.description" [(ngModel)]="task.description" (change)="modifyTask(task)">
          </div>
          <div>
            <span class="label-input100">Hora comienzo</span>
            <input type="time" class="form-control time" [value]="task.time_start" [(ngModel)]="task.time_start" (change)="modifyTask(task)">
          </div>
          <div>
            <span class="label-input100">Hora fin</span>
            <input type="time" class="form-control time" [value]="task.time_end" [(ngModel)]="task.time_end" (change)="modifyTask(task)">
          </div>
          <div>
            <span class="label-input100">Fecha</span>
            <input type="date" class="form-control form" [value]="task.date" [(ngModel)]="task.date" (change)="modifyTask(task)">
          </div>
          <div>
            <span class="label-input100">Color</span>
            <input type="color" class="form-control form color" list="color-datalist" [value]="task.color" [(ngModel)]="task.color" (change)="modifyTask(task)">
            <datalist id="color-datalist">
              <option *ngFor="let task of tasksList" [value]="task.color"></option>
            </datalist>
          </div>
          <div class="button-group d-flex align-items-end mb-2  mx-3">
            <button [ngClass]="{'btn-success': task.status, 'btn-warning': !task.status}" class="btn text-white  mx-3" (click)="task.status = !task.status; modifyTask(task)">
              <i *ngIf="!task.status" class="fa-solid fa-clock mx-1"></i>
              <i *ngIf="task.status" class="fa-solid fa-check mx-1"></i>
            </button>
            <button class="btn btn-danger  mx-3" (click)="deleteTask(task.taskId)"><i
                class="fas fa-trash mx-1"></i></button>
          </div>
        </div>
    </div>
  </div>
</div>
